
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user= Session["User"] as QuanLySieuThi.Models.SessionUser;
}

<h2 class="page-header">Xin chào, @user.TenTK</h2>
