<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản lý Bán Hàng</title>
    <link href="~/Assets/NhanVien/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/NhanVien/css/morris.css" rel="stylesheet" />
    <link href="~/Assets/NhanVien/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Assets/NhanVien/css/timeline.css" rel="stylesheet" />
    <link href="~/Assets/NhanVien/css/startmin.css" rel="stylesheet" />
    <link href="~/Assets/NhanVien/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/NhanVien/css/disable_link.css" rel="stylesheet" />
    <link href="~/Lib_Dx/dx_css/dx.common.css" rel="stylesheet" />
    <link href="~/Lib_Dx/dx_css/dx.light.css" rel="stylesheet" />
    <link href="~/Content/NhanVien/User_BanHang.css" rel="stylesheet" />
    <script src="~/Assets/NhanVien/js/jquery.min.js"></script>
    <script src="~/Assets/NhanVien/js/bootstrap.min.js"></script>
    <script src="~/Assets/NhanVien/js/morris.min.js"></script>
    <script src="~/Assets/NhanVien/js/startmin.js"></script>
    <script src="~/Assets/NhanVien/js/metisMenu.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/js.cookie-2.2.1.min.js"></script>
    <script src="~/Scripts/Config.js"></script>
    <script src="~/Scripts/Assets.js"></script>
    <script src="~/Lib_Dx/dx_js/dx.all.js"></script>   
</head>
<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/NhanVienHome/Index">Quản Lí Siêu Thị</a>
            </div>

            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@

           

            <!-- Top Navigation: Right Menu -->
            <ul class="nav navbar-right navbar-top-links">
                <li class="dropdown navbar-inverse">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>

                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                        <i class="fa fa-user fa-fw"></i> <span id="username"></span>  <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Sidebar -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">

                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a href="~/NhanVienBanHang/Index" class="active"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
                        </li>                                                
                            <li>
                                <a href="~/NhanVienBanHang/SanPham" ><i class="fa fa-th-list"></i> Sản phẩm</a>
                            </li>
                            <li>
                                <a href="~/NhanVienBanHang/HoaDon" ><i class="fa fa-credit-card-alt"></i> Hóa đơn</a>
                            </li>                                     
                    </ul>

                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

               
                @RenderBody()

            </div>
        </div>

    </div>

    

</body>
</html>
<script>
    $(document).ready(function () {
        checkCookie() == false ? window.location.href = "/Login/Index" : true;
        checkRole("User_BanHang") ? true : window.location.href = "/Login/Index";
        var user_info = JSON.parse(Cookies.get("User_info"));
        $("#username").html(user_info.unique_name);
        $('#logout').click(function () {
            Cookies.remove("User_token");
            Cookies.remove("User_info");
            window.location.href = "/Login/Index";
        });       
    });
</script>
