
@{
    ViewBag.Title = "CTHoaDon";
    Layout = "~/Views/Shared/_Layout_BanHang.cshtml";
}

<h2 class="page-header">Chi tiết hóa đơn: </h2>
<h4>Ngày hóa đơn: </h4><span id="ngayhd"></span>
<div class="container-fluid" id="grid">

</div>
<br />
<div class="col-lg-offset-8 form-group">
    <label>Tổng tiền:</label>
    <input  class ="form-control" type="text" id="tongtien" readonly />
</div>

<script src="~/Scripts/NhanVien/CTHoaDon.js"></script>