
@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Views/Shared/_Layout_BanHang.cshtml";
}
<div class="container-fluid">
    <h2 class="page-header">Thông tin hóa đơn</h2>
    <div class="container-fluid" id="form">

    </div>
    <hr />
    <div class="container-fluid" id="grid">

    </div>
    <div id="popup_info">

    </div>
    
</div>
<script src="~/Scripts/NhanVien/HoaDon.js"></script>

