
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_Layout_BanHang.cshtml";
}


<div class="container-fluid">
    <div class="container-fluid">
        <h2 class="page-header">Thông tin sản phẩm</h2>
        
        <div id="show_search">
            @*<form>
                <div class="form-group col-lg-4">
                    <label for="tensp">Tên sản phẩm:</label>
                    <input type="text" class="form-control" id="tensp">
                </div>
                <div class="form-group col-lg-8">
                    <label for="mota">Mô tả:</label>
                    <input type="text" class="form-control" id="mota">
                </div>
                <button type="submit" class="btn btn-success col-lg-offset-3 col-lg-3">Tìm</button>
            </form>*@
        </div>
    </div> 
    <hr />
    <div class="container-fluid">
        <div id="gridsanPham">

        </div>
    </div>
    <div id="popup_info">

    </div>
</div>
<script src="~/Scripts/NhanVien/User_BanHang.js"></script>
