
@{
    ViewBag.Title = "ThemHD";
    Layout = "~/Views/Shared/_Layout_BanHang.cshtml";
}

<h2 class="page-header">Thêm chi tiết hóa đơn</h2>

<div class="container-fluid" id="grid">

</div>
<div id="popup_edit"></div>
<script src="~/Scripts/NhanVien/ThemHD.js"></script>
