
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h1>TEST</h1>
<p id="test"></p>
<script>
    $(document).ready(function(){
        $.ajax({
            url: "/api/SanPham_API",
            dataType: "json",
            method: "GET",
            success: function (data) {
                $("#test").text(data[0].MaSP);

            }
        });
    });
</script>

